@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: transparent;
    background: white;
}